body {
    background-color: #2B0000;
}

.panel {
    background-color: #FFF0B2;
}

#header h1 {
    color: #E82823;
}

#headline {
    /* background-color: #E82823; */
    margin-top: 20px;
    margin-bottom: 20px;
}

#headline h2 {
    color: #342D23;
    font-size: 2.5em;
}

#headline h3 {
    color: #342D23;
    font-size: 1.5em;
}

#headline .number {
    color: #E82823;
    font-weight: bold;
}

#description h5, #news h5 {
    color: #E82823;
    font-size: 1.5em;
}

#description p, #news p {
    color: #FFF0B2;
}

#news ul li {
    color: #FFF0B2;
}

#news ul li a {
    color: #FFF0B2;
}

.expand {
    width: 100%;
}

#header, #description, #news {
    margin-top: 10px;
    margin-bottom: 10px;
}